
  <div class="indexbox">
<a href="http://supa-recruitment.supahands.com/supaagents" > <h2>Supahands Recruitment Platform</h2></a>






<%= grid(@tasks_grid) do |g|
  
   g.column name: "Time stamp", attribute: "created_at"  do |supaagent|
    supaagent.created_at
  end

  g.column name: "Application ID", attribute: "applicationid"  do |supaagent|
    supaagent.applicationid
  end

  g.column name: "Name" , attribute: "name" do |supaagent|
    supaagent.name
  end

  g.column name: "Email", attribute: "email" do |supaagent|
    supaagent.email
  end

  g.column name: "validation", attribute: "validation" do |supaagent|
    supaagent.validation? ? 'Yes' : 'No'
  end
  
  g.column name: "status", attribute: "status" do |supaagent|
    supaagent.status
  end


   g.column do |supaagent|
    link_to('Edit', edit_supaagent_path(supaagent))
  end
end -%>
</div>